@charset "UTF-8";

/* Default
------------------------------------------------------------------------------- */

#wrapper { width:960px; margin:0 auto; display:block; min-height:100%; }

#content { float:left; width:960px; padding:20px; line-height:22px; min-height:300px; }


/* Navigation
------------------------------------------------------------------------------- */

#navigation { float:left; width:100%; height:80px; }

#navigation .left { padding-top:30px; }

#navigation .left li { float:left; padding-right:35px; }

#navigation .left li.first { padding-left:20px; }

#navigation .left li a { float:left; color:#000; font-size:21px; text-transform:capitalize; }

#navigation .left li a.active { color:#f06b48; }

#navigation .left li a:hover { color:#f06b48; }

#navigation .right { float:right; }

#navigation .right li { float:left; padding-right:35px; }

#navigation .right li a { float:left; color:#000; font-size:21px; text-transform:capitalize; }

#navigation .right li a.active { color:#f06b48; }

#navigation .right li a:hover { color:#f06b48; }


/* Login
------------------------------------------------------------------------------- */

#login { display:table; width:350px; height:auto; margin:0 auto; border-radius:3px; 
         box-shadow:0px 0px 7px 0px rgba(50, 50, 50, 0.3); }

#login ul { float:left; width:100%; padding:45px; }

#login ul li { float:left; width:100%; list-style:none; margin-bottom:5px; }

#login ul li span { float:left; padding:8px 12px; line-height:1; 
                    border:1px solid #e5e5e8; border-radius:3px; }

#login ul li span.user { width:10px; height:12px; 
         background:url('../_img/icons/icon_961.png') no-repeat center center; }

#login ul li span.pass { width:10px; height:12px; 
         background:url('../_img/icons/icon_10571.png') no-repeat 43% center; }

#login ul li input[type="text"], #login ul li input[type="password"] { 
    float:left; margin-left:-3px; margin-top:0px; height:12px; padding:8px 12px; 
    border:1px solid #e5e5e8; border-radius:0px 3px 3px 0px;  }

#login ul li input[type="text"]:focus, #login ul li input[type="password"]:focus { 
    border-color:#f06b48;outline:0; 
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255,152,125,.6);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255,152,125,.6) }

#login ul li a { color:#b0b0b0; }

#login ul li input[type="submit"]:hover { cursor:pointer; }

#login ul li input[type="submit"] { float:left;
    border:1px solid #a47025; color:#fff;
    border-radius:3px; padding:5px; width:75px; 
    height:32px; font-size:14px; margin-left:134px;
    text-shadow: rgba(0, 0, 0, 0.35) 0 1px 0;
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.5);
    background: -webkit-linear-gradient(#f78e72, #f06b48);
    background: -o-linear-gradient(#f78e72, #f06b48);  
    background: -moz-linear-gradient(#f78e72, #f06b48);   
    background: linear-gradient(#f78e72, #f06b48);  
}


/* Register
------------------------------------------------------------------------------- */

#register { display:table; width:350px; height:auto; margin:0 auto; border-radius:3px; 
         box-shadow:0px 0px 7px 0px rgba(50, 50, 50, 0.3); }

#register ul { float:left; width:100%; padding:45px; }

#register ul li { float:left; width:100%; list-style:none; margin-bottom:5px; }

#register ul li span { float:left; padding:8px 12px; line-height:1; 
                    border:1px solid #e5e5e8; border-radius:3px; }

#register ul li span.user { width:10px; height:12px; 
         background:url('../_img/icons/icon_961.png') no-repeat center center; }

#register ul li span.pass { width:10px; height:12px; 
         background:url('../_img/icons/icon_10571.png') no-repeat 43% center; }

#register ul li span.email { width:10px; height:12px; 
         background:url('../_img/icons/icon_2404.png') no-repeat 43% center; }

#register ul li input[type="text"], #register ul li input[type="password"] { 
    float:left; margin-left:-3px; margin-top:0px; height:12px; padding:8px 12px; 
    border:1px solid #e5e5e8; border-radius:0px 3px 3px 0px;  }

#register ul li input[type="text"]:focus, #register ul li input[type="password"]:focus { 
    border-color:#f06b48;outline:0; 
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255,152,125,.6);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255,152,125,.6) }

#register ul li a { color:#b0b0b0; }

#register ul li input[type="submit"]:hover { cursor:pointer; }

#register ul li input[type="submit"] { float:left;
    border:1px solid #a47025; color:#fff;
    border-radius:3px; padding:5px; width:75px; 
    height:32px; font-size:14px; margin-left:134px;
    text-shadow: rgba(0, 0, 0, 0.35) 0 1px 0;
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.5);
    background: -webkit-linear-gradient(#f78e72, #f06b48);
    background: -o-linear-gradient(#f78e72, #f06b48);  
    background: -moz-linear-gradient(#f78e72, #f06b48);   
    background: linear-gradient(#f78e72, #f06b48);  
}


/* Settings
------------------------------------------------------------------------------- */

/*#settings { display:table; width:350px; height:auto; margin:0 auto; border-radius:3px; 
         box-shadow:0px 0px 7px 0px rgba(50, 50, 50, 0.3); }*/

#settings ul { float:left; width:100%; padding:45px; }

#settings ul li { float:left; width:100%; list-style:none; margin-bottom:5px; }

#settings ul li label { float:left; width:137px; }

#settings ul li input[type="text"], #settings ul li input[type="password"] { 
    float:left; margin-left:-3px; margin-top:0px; height:12px; padding:8px 12px; 
    border:1px solid #e5e5e8; border-radius:0px 3px 3px 0px; width:350px;  }

#settings ul li input[type="text"]:focus, #settings ul li input[type="password"]:focus, 
#settings ul li textarea:focus  { 
    border-color:#f06b48;outline:0; 
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255,152,125,.6);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255,152,125,.6) }

#settings ul li a { color:#b0b0b0; }

#settings ul li input[type="submit"]:hover { cursor:pointer; }

#settings ul li textarea { float:left; margin-left:-3px; margin-top:0px; width:350px;
    resize:none; padding:8px 12px; border:1px solid #e5e5e8; border-radius:0px 3px 3px 0px; }

#settings ul li input[type="submit"] { float:left;
    border:1px solid #a47025; color:#fff;
    border-radius:3px; padding:5px; width:75px; 
    height:32px; font-size:14px; margin-left:134px;
    text-shadow: rgba(0, 0, 0, 0.35) 0 1px 0;
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.5);
    background: -webkit-linear-gradient(#f78e72, #f06b48);
    background: -o-linear-gradient(#f78e72, #f06b48);  
    background: -moz-linear-gradient(#f78e72, #f06b48);   
    background: linear-gradient(#f78e72, #f06b48);  
}



/* Images
------------------------------------------------------------------------------- */

ul#images { float:left; width:600px; }

ul#images li { list-style:none; margin:0px 0px 60px 0px; }

ul#images li h2 { float:left; width:300px; font-size:20px; color:#000; }

ul#images li p { float:right; width:300px; text-align:right; font-size:12px; color:#777272; }

ul#images li img { width:100%; height:400px; background-color:#d9d9d9; border:none; }

ul#images li .like { float:left; background:url('../_img/icons/like.png') #d9d9d9; 
                     width:35px; height:35px; }

ul#images li .dislike { float:left; margin-left:15px; 
                        background:url('../_img/icons/dislike.png') #d9d9d9; 
                        width:35px; height:35px; }


/* Filter
------------------------------------------------------------------------------- */

#filter { float:left; position:relative; width:261px; height:350px; 
          margin:23px 0px 0px 40px; background-color:#d9d9d9; }

#filter:after { content:""; position:absolute; 
                background:url('../_img/icons/ribbon-shadow.png'); top:50px;
                width:14px; height:14px; left:261px; }

#filter .title { float:left; margin:10px 0px 0px 10px; padding-top:10px; 
                 width:265px; height:30px; background-color:#f06b48; 
                 text-align:center; font-size:20px; color:#ededed; }

#filter ul { float:left; }

#filter ul li { list-style:none; margin-left:50px; margin-top:10px; }

#filter ul li label { font-size:13px; font-weight:700; }

#filter input[type="checkbox"] { display:none; }

#filter input[type="checkbox"] + label span { margin:-2px 9px 0px -20px; 
    display:inline-block; width:17px; height:17px; 
    vertical-align:middle; cursor:pointer;  
    background:url('../_img/icons/checkbox.png') 0px 0px no-repeat; }

#filter input[type="checkbox"]:checked + label span { 
    background:#ff7600 url('../_img/icons/checkbox.png') 0px -17px no-repeat; }


/* Timeline
------------------------------------------------------------------------------- */

#timeline { float:left; width:640px; height:auto; overflow:hidden; }

#timeline li { float:left; width:100%; margin:0!important; margin-top:6px!important; list-style:none!important; }

#timeline li.first { margin:0px!important; }

#timeline li a { float:left; width:15px; height:25px; font-size:20px; font-weight:700;
                 padding:9px 14px; background:url('../_img/icons/timeline.png'); color:#9d9191;
                 text-transform:uppercase; }

#timeline li .users_overview { float:left; width:590px; height:auto; min-height:195px; 
background:url('../_img/icons/timeline-bullet.png') repeat-y; padding-left:25px; margin-left:18px;


}

/* Filter users
------------------------------------------------------------------------------- */

#filter_users { float:left; position:relative; width:261px; height:350px; 
          margin:23px 0px 0px 40px; background-color:#d9d9d9; padding-bottom:25px; }

#filter_users:after { content:""; position:absolute; 
                background:url('../_img/icons/ribbon-shadow.png'); top:50px;
                width:14px; height:14px; left:261px; }

#filter_users .title { float:left; margin:10px 0px 0px 10px; padding-top:10px; 
                 width:265px; height:30px; background-color:#f06b48; 
                 text-align:center; font-size:20px; color:#ededed; }

#filter_users ul { float:left; width:100%; height:300px; }

#filter_users ul li { float:left; width:14%; margin:10px 0px 0px 50px; list-style: none; }

#filter_users ul li label { font-size:13px; font-weight:700; text-transform:uppercase; }

#filter_users input[type="checkbox"] { display:none; }

#filter_users input[type="checkbox"] + label span { margin:-2px 9px 0px -20px; 
    display:inline-block; width:17px; height:17px; 
    vertical-align:middle; cursor:pointer;  
    background:url('../_img/icons/checkbox.png') 0px 0px no-repeat; }

#filter_users input[type="checkbox"]:checked + label span { 
    background:#ff7600 url('../_img/icons/checkbox.png') 0px -17px no-repeat; }


/* Footer
------------------------------------------------------------------------------- */

#footer { position:relative; margin-top:-80px; height:80px; clear:both; 
          background-color:#f06b48; }  

#footer ul { width:960px; margin:0 auto; display:block; }

#footer ul li { float:left; padding:30px 35px 0px 0px; }

#footer ul li.first { padding-left:20px; }

#footer ul li a { float:left; color:#ededed; font-size:19px; }
